/* line 1, /Users/georgeslater/Documents/expat/app/assets/stylesheets/events.css.scss */
.wrapper {
  margin-left: 30px;
}

/* line 5, /Users/georgeslater/Documents/expat/app/assets/stylesheets/events.css.scss */
.btnCustom {
  width: 75%;
  height: 100px;
  font-size: 20px;
  margin: 20px;
}

/* line 12, /Users/georgeslater/Documents/expat/app/assets/stylesheets/events.css.scss */
.event-text {
  line-height: 85px;
}

/* line 16, /Users/georgeslater/Documents/expat/app/assets/stylesheets/events.css.scss */
.pitch {
  background-image: url(/assets/pitch2-4d45620b96943a01bfda7b9b22a43eb0.jpg);
  height: 414px;
  width: 636px;
}

/* line 22, /Users/georgeslater/Documents/expat/app/assets/stylesheets/events.css.scss */
.player-going-table {
  width: auto !important;
}

/* line 27, /Users/georgeslater/Documents/expat/app/assets/stylesheets/events.css.scss */
.player-going-table td {
  padding: 5px !important;
}

/* line 31, /Users/georgeslater/Documents/expat/app/assets/stylesheets/events.css.scss */
.player-going-table td:not(:first-child) {
  text-align: center;
}

/* line 35, /Users/georgeslater/Documents/expat/app/assets/stylesheets/events.css.scss */
.player-list-wrapper {
  float: left;
}

/* line 39, /Users/georgeslater/Documents/expat/app/assets/stylesheets/events.css.scss */
.teams-wrapper {
  float: left;
  margin-left: 40px;
}

/* line 44, /Users/georgeslater/Documents/expat/app/assets/stylesheets/events.css.scss */
#ensure_goalies {
  margin-left: 10px;
}

/* line 48, /Users/georgeslater/Documents/expat/app/assets/stylesheets/events.css.scss */
.teams-wrapper .checkbox label {
  padding-left: 0px;
}

/* line 52, /Users/georgeslater/Documents/expat/app/assets/stylesheets/events.css.scss */
.generate-btn {
  margin-top: 10px;
  margin-bottom: 20px;
}

/* line 57, /Users/georgeslater/Documents/expat/app/assets/stylesheets/events.css.scss */
#max-rating label {
  font-weight: normal;
}
/* line 1, /Users/georgeslater/Documents/expat/app/assets/stylesheets/header.css.scss */
header {
  margin-bottom: 100px;
}

/* line 5, /Users/georgeslater/Documents/expat/app/assets/stylesheets/header.css.scss */
.navbar-header a {
  list-style: none;
  text-decoration: none;
  color: white !important;
}

/* line 12, /Users/georgeslater/Documents/expat/app/assets/stylesheets/header.css.scss */
.container-fluid {
  background-image: url(/assets/pitch-aa487aa251de3a45e55f2196267633c6.jpg);
}

/* line 16, /Users/georgeslater/Documents/expat/app/assets/stylesheets/header.css.scss */
#menuBar li.activeTab a {
  text-decoration: underline;
}

/* line 21, /Users/georgeslater/Documents/expat/app/assets/stylesheets/header.css.scss */
#menuBar li a {
  color: orange !important;
  line-height: 36px;
  font-size: 22px;
  font-family: Tahoma, serif;
}

/* line 28, /Users/georgeslater/Documents/expat/app/assets/stylesheets/header.css.scss */
#menuBar li a:hover {
  text-decoration: underline;
}

@media (min-width: 1024px) {
  /* line 34, /Users/georgeslater/Documents/expat/app/assets/stylesheets/header.css.scss */
  .loginInfo {
    display: block;
  }

  /* line 39, /Users/georgeslater/Documents/expat/app/assets/stylesheets/header.css.scss */
  .signInMobile {
    display: none !important;
  }
}
/* line 45, /Users/georgeslater/Documents/expat/app/assets/stylesheets/header.css.scss */
h1 {
  font-size: 24px;
  margin-right: 20px;
}

@media (max-width: 1024px) {
  /* line 53, /Users/georgeslater/Documents/expat/app/assets/stylesheets/header.css.scss */
  .signInMobile {
    display: block;
  }

  /* line 58, /Users/georgeslater/Documents/expat/app/assets/stylesheets/header.css.scss */
  .loginInfo {
    display: none;
  }
}
/* line 1, /Users/georgeslater/Documents/expat/app/assets/stylesheets/players.css.scss */
#players-container td {
  vertical-align: middle !important;
}

/* line 5, /Users/georgeslater/Documents/expat/app/assets/stylesheets/players.css.scss */
.btn-container {
  float: right;
  margin-right: 40px;
}

/* line 10, /Users/georgeslater/Documents/expat/app/assets/stylesheets/players.css.scss */
.picture-xl {
  float: right;
  margin-right: 40px;
}
/* line 1, /Users/georgeslater/Documents/expat/app/assets/stylesheets/scaffolds.css.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /Users/georgeslater/Documents/expat/app/assets/stylesheets/scaffolds.css.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, /Users/georgeslater/Documents/expat/app/assets/stylesheets/scaffolds.css.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 22, /Users/georgeslater/Documents/expat/app/assets/stylesheets/scaffolds.css.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 27, /Users/georgeslater/Documents/expat/app/assets/stylesheets/scaffolds.css.scss */
#notice {
  color: green;
}

/* line 31, /Users/georgeslater/Documents/expat/app/assets/stylesheets/scaffolds.css.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 37, /Users/georgeslater/Documents/expat/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 44, /Users/georgeslater/Documents/expat/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 54, /Users/georgeslater/Documents/expat/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *



 */

