.wrapper{
	margin-left: 30px;
}

.btnCustom{
	width: 75%;
	height: 100px;
	font-size: 20px;
	margin: 20px;
}

.event-text{
	line-height: 85px;
}

.pitch{
	background-image:image-url('pitch2.jpg');
	height: 414px;
	width: 636px;
}

.player-going-table{
	
	width: auto !important;
}

.player-going-table td{
	padding: 5px !important;
}

.player-going-table td:not(:first-child){
	text-align:center;
}

.player-list-wrapper{
	float:left;
}

.teams-wrapper{
	float: left;
	margin-left: 40px;
}

#ensure_goalies{
	margin-left: 10px;
}

.teams-wrapper .checkbox label{
	padding-left: 0px;
}

.generate-btn{
	margin-top: 10px;
	margin-bottom: 20px;
}

#max-rating label{

	font-weight: normal;
}