header{
	margin-bottom: 100px;
}

.navbar-header a{
	
	list-style: none;
  	text-decoration: none;
  	color: white !important;
}

.container-fluid{
	background-image:image-url('pitch.jpg');
}

#menuBar li.activeTab a{

	text-decoration: underline;
}

#menuBar li a{
	color: orange !important;
	line-height: 36px;
	font-size: 22px;
  	font-family: Tahoma, serif;
}

#menuBar li a:hover{
	text-decoration: underline;
}

@media(min-width: 1024px){

	.loginInfo{

		display: block;
	}

	.signInMobile{

		display: none !important;
	}
}
	
h1{

	font-size: 24px;
	margin-right: 20px;
}

@media(max-width: 1024px){
	
	.signInMobile{

		display: block;
	}

	.loginInfo{

		display: none;
	}
}