#players-container td{
	vertical-align: middle !important;
}

#players-container .center{
	text-align: center;
}

.btn-container{
	float:right;
	margin-right: 40px;
}

.picture-xl{
	float:right;
	margin-right: 40px;
}

#player-container{
	margin-left: 30px;
}

#new-player-container{
	margin-left: 30px;
}
